body{
	margin: 0;
	padding: 0;
  font-family: "微软雅黑";
  background-color: rgba(164, 170, 186, 0.2);
  font-size: 14px;
}

/**
 * ------------------------------------------------------------------
 *   Header
 * ------------------------------------------------------------------
 **/
.uxi .top {
	background-color: #f3f3f3 !important;
}
.uxi .top.menu {
	border-radius: 0 !important;
	border: 0 !important;
	box-shadow: none !important;
}
.uxi .top .container {
  width: 100%;
}
.uxi .top .logo {
	height: 100px;
	line-height: 100px;
	margin-right: 150px;
}
.uxi .top .logo img {
	vertical-align: top;
	margin-top: 10px;
}
.uxi .top.menu > .container > .item {
	height: 60px;
	margin-top: 40px;
	color: #888;
}
.uxi .top.menu > .container > .active.item {
	background-color: #f3f3f3 !important;
	border-bottom: 2px solid #333;
	color: #333;
}
.uxi .top .right.menu {
	height: 60px;
}
.uxi .top.menu .item:before {
  width: 0 !important;
}

/**
 * ------------------------------------------------------------------
 *   面包屑
 * ------------------------------------------------------------------
 **/
.uxi .title {
	border-bottom: 1px solid #ddd;
}
.uxi .title .breadcrumb {
	padding: 10px 10px;
 }
.uxi .title .breadcrumb a {
	color: #666 !important;
	font-size: 20px;
}
.uxi .title .breadcrumb a.active {
	color: #333 !important;
}

/**
 * ------------------------------------------------------------------
 *   页面 内容 content
 * ------------------------------------------------------------------
 **/
 .uxi .content {
	 padding: 20px;
 }